---
import type { CollectionEntry } from 'astro:content';

export interface Props {
  article: CollectionEntry<'crypto-basics'> | CollectionEntry<'safe-crypto'> | CollectionEntry<'crypto-scam'> | CollectionEntry<'crypto-answers'> | CollectionEntry<'crypto-tax'> | CollectionEntry<'crypto-tools'>;
}

const { article } = Astro.props;
const { data, slug } = article;
const category = data.categories[0];
---

<li>
  <a href={`/${category}/${slug}/`}>{data.title}</a>
  {data.description && <div class="desc">{data.description}</div>}
  <div class="meta" style="margin-top: 0.25rem;">
    {data.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })}
    {data.tags?.map(tag => <span class="tag">{tag}</span>)}
  </div>
</li>
